TCP-XML-Stream/XMLNetworkStreamServer - Tester - Node-RED.txt
[{"id":"149cb080.14cbb","type":"tcp in","z":"2899ebae.74aa74","name":"Server holding connections at :2255","server":"server","host":"","port":"2255","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"text","base64":false,"x":172,"y":208,"wires":[["89fad7bc.2d3d58","d502c12b.ba725"]]},{"id":"30d26cc3.d85624","type":"tcp out","z":"2899ebae.74aa74","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: all open connections will be messaged","x":1182,"y":208,"wires":[]},{"id":"6b43d0a4.e23d9","type":"debug","z":"2899ebae.74aa74","name":"show incomming text at the debug tab","active":true,"console":"false","complete":"payload","x":482,"y":308,"wires":[]},{"id":"51790032.c9ee6","type":"inject","z":"2899ebae.74aa74","name":"button: create a msg","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":852,"y":128,"wires":[["92be8cb4.45da8"]]},{"id":"89fad7bc.2d3d58","type":"template","z":"2899ebae.74aa74","name":"\"SERVER GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SERVER GOT:\n{{payload}}","x":422,"y":268,"wires":[["6b43d0a4.e23d9"]]},{"id":"d502c12b.ba725","type":"template","z":"2899ebae.74aa74","name":"modify received msg to be send back","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<answer><note>You were sending</note><returning>{{payload}}</returning></answer>\n","x":682,"y":208,"wires":[["30d26cc3.d85624"]]},{"id":"92be8cb4.45da8","type":"template","z":"2899ebae.74aa74","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<root>\n    <a>a msg</a>\n</root>","x":1012,"y":128,"wires":[["30d26cc3.d85624"]]}]